//Theme fonts
$base-family: 'helvetica';

// Font sizes
$text-XS: 12px;
$text-S: 18px;

// Title sizes
$title-XS: 34px;
$title-S: 60px;
$title-M: 90px;
$title-L: 150px;

// Media querry font sizes
$text-XS: 8px;
$text-S: 12px;

// Media querry title sizes
$titleMedia-XS: 22px;
$titleMedia-S: 40px;
$titleMedia-M: 60px;
$titleMedia-L: 100px;

// Font-weigts
$weight-light: 100;
$weight-medium: 400;
$weight-heavy: 700;
$weight-heavier: 900;
