//Theme fonts
$base-family: 'helvetica';

$text-XS: 12px;
$text-S: 18px;

$title-XS: 34px;
$title-S: 60px;
$title-M: 90px;
$title-L: 150px;

$weight-light: 100;
$weight-medium: 400;
$weight-heavy: 700;
$weight-heavier: 900;
