// Theme Colors
$primary-1: #fff;
$primary-2: #000;
$secondary-1: #C5374C;
$secondary-2: #79FA4D;


// $colors-primary: ("0": $primary-0, "100": $primary-100, "200": $primary-200, "300": $primary-300);
// $colors-secondary: ("0": $secondary-0, "100": $secondary-100, "200": $secondary-200, "300": $secondary-300);


// @each $name, $glyph in $colors-primary {
//   .bg-primary-#{$name} {
//     background-color: $glyph;
//     color: $glyph;
//   }
// }

// @each $name, $glyph in $colors-secondary {
//   .bg-secondary-#{$name} {
//     background-color: $glyph;
//   }
// }

// @each $name, $glyph in $colors-primary {
//   .color-primary-#{$name} {
//     color: $glyph;
//   }
// }

// @each $name, $glyph in $colors-secondary {
//   .color-secondary-#{$name} {
//     color: $glyph;
//   }
// }
