//imports
@import "themecolors";
@import "fonts";
@import "mixins";


*, ::before, ::after {
    box-sizing: border-box;
}


//Navbar

nav {
    height: 70px;

    li {
        a {
            font-size: $text-S;
        }
    }
    .btn.tickets-knop {
        background-color: $secondary-2;
    }
}


// Covid-19 popup message

div.popup-message {
    background-color: $secondary-1;

    p {
        color: $primary-1;
        font-size: $text-S;
    }
}


//hr Dividers

.divider-py {
    @include divider;
    margin: 9px 0;
}

.divider-pt {
    @include divider;
    margin: 9px 0 0 0;
}

.divider-pb {
    @include divider;
    margin: 0 0 9px 0;
}


//Workshop & Programs

div.content-spacing {
    padding: 0px 50px 0px 50px;

    .link-container {
        @include transition;
        margin-left: 0;
        opacity: 1;
    }

    .link-container:hover {
        @include transition;
        margin-left: 20px;
        opacity: 0.7;
        cursor: pointer;
    }

    h1 {
        font-size: 9em;
        margin: 0;
    }

    h2 {
        font-size: 6em;
    }

    h3 {
        font-size: 4em;
    }

    h4 {
        font-size: 2em;
        font-weight: 900;
    }

    i.arrow-right {
        padding: 0 0 0 15px;
    }
}

.link-styling:hover {
    color: #000;
}

div.slider-container {
    border: 0px solid $secondary-2;

    div.foto-slider {
        background-color: $primary-2;
        height: 338px;
    }
}

// Program Explained

img.artwork-1 {
    width: 80%;
}

div {
    .description {
        font-size: $text-S;
        color: $primary-2;
    }

    .finePrint {
        font-size: $text-XS;
    }
}

ul.paragraphList {
    li {
        font-size: $text-S;
        color: $primary-2;
    }
}


//Programs

  h2.program {
    font-size: 9em;
}

i.arrow-left {
    padding: 0 15px 0 0;
    transform: rotate(180deg);
}

.order-hover {
    @include transition;
    margin-left: 0;
    opacity: 1;
}

.order-hover:hover {
    @include transition;
    margin-left: 20px;
    opacity: 0.7;
    cursor: pointer;
}


// Footer

.stedelijk-logo {
    width: 50%;
}

.gemeente-logo {
    width: 40%;
}

.loterij-logo {
    width: 40%;
}

.footer-title {
    color: $primary-1;
    font-size: 34px;
    font-weight: 400;
}

.footer-text {
    color: $primary-1;
    font-size: 30px;
    font-weight: 200;
}

button.sign-up-btn {
    border-radius: 0%;
    font-size: 22px;
    border: 2px solid $primary-1;
}

i.social-links {
    color: $primary-1;
}

.copyright {
    color: $primary-1;
    font-size: $text-S;
    font-weight: 200;
}

.menu-main-menu-container {
    width: 100%
}

.header {
    list-style-type: none;
    width: 100%;
}