//imports
@import "themecolors";
@import "fonts";
@import "mixins";


//Navbar
nav {
    height: 70px;

    li {
        a {
            font-size: $font-S;
        }
    }
    .btn.tickets-knop {
        background-color: $secondary-2;
    }
}

// Covid-19 popup message

div.popup-message {
    background-color: $secondary-1;

    p {
        color: $primary-1;
        font-size: $font-S;
    }
}


//hr Dividers

.divider-py {
    @include divider;
    margin: 9px 0;
}

.divider-pt {
    @include divider;
    margin: 9px 0 0 0;
}

.divider-pb {
    @include divider;
    margin: 0 0 9px 0;
}


//Workshop & Programs

div.header-spacing {
    padding: 0px 50px 0px 50px;

    .header-container {
        @include transition;
        margin-left: 0;
        opacity: 1;
    }

    .header-container:hover {
        @include transition;
        margin-left: 20px;
        opacity: 0.7;
        cursor: pointer;
    }

    h1 {
        font-size: $font-XL;
        margin: 0;
    }

    h2 {
        font-size: $font-M;
    }

    i.arrow {
        padding: 0 0 0 15px;
    }
}

div.slider-container {
    border: 0px solid $secondary-2;

    div.foto-slider {
        background-color: $primary-2;
        height: 338px;
    }
    
}

div {
    .description {
        font-size: $font-S;
        color: $primary-2;
    }
}

@media only screen and (max-width: 1260px) {
    body {
      
    }
  }

  